# Ignore virtual environments
.venv/
venv/

# Ignore Python cache
__pycache__/

# Ignore DB
*.sqlite3

# Ignore IDE/project files
.idea/
*.log

# Ignore OS files
.DS_Store

# Ignore big Java folder
iot_api/oracleJdk-24/
